# This is a basic workflow to help you get started with Actions

name: Partner Tech Review Action

# Allows you to run this workflow manually from the Actions tab 
on: workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  action:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: readme-check
        uses: ./.github/actions/readme-check
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}

      - name: Run a one-line script
        run: echo Hello, world!